/* denne koden gjelder for hele siden*/

*{
    margin: 0;
    padding: 0;
    border: 0;
    
}

/*STYLING TIL HEADER - Andrea*/

header{
    height: 55vh;
    background-color: #cccccc;
    background-image: url("assets/img/studentsbg.png");
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center top; 
    background-size: cover;
    

}



header div{
    
    background-color: #c5192d;
    background-size: contain;
    text-align: center;
    position: relative;
    
    
    width: 50%;
    height: 50%;
    left: 25%;
   
}

body{
    background-image:“(135deg, #f5f7fa 0%, #c3cfe2 100%)”;
    background-repeat: no-repeat;
    font-family: Lato/*Importer denne*/, sans-serif;
    font-size: 14px;
}

