/*
The whole page sets linear gradient with the following values 
“(135deg, #f5f7fa 0%, #c3cfe2 100%)”X
*/

/*
The main font will be “Lato” and 
sans-serif will be defined as fallback font. X

The default browser font size must be set to 14px. X
*/

/*
The default font size for thecontents of the page will be 1.2rem
*/

/*
The headings (h1-h3) will use “Montserrat” 
type face and sans-serif as a fallback font.
*/

/*
H1 elements will have a size of 4rem
*/

/*
H2 elements will have a size of 2.2rem
*/

/*
The paragraph will never exceed 70ch wide and the distance 
the distance between lines of text will be set to 1.5
*/


html{
    height: 100%;
}
body{
    background-image:“(135deg, #f5f7fa 0%, #c3cfe2 100%)”;
    background-repeat: no-repeat;
    font-family: Lato/*Importer denne*/, sans-serif;
    font-size: 14px;
}

h1{
font-family: m
}

h2{

}

h3{

}
